<body>

    <div class="wrapper">
        <div class="menu-container">
            <a href="#" class="menu-item" routerLink="/budget">
                <img src="https://cdn-icons-png.flaticon.com/128/10384/10384161.png" alt="Icon 5">
                <p>งบประมาณ</p>
            </a>
            <a href="#" class="menu-item" routerLink="/search">
                <img src="https://cdn-icons-png.flaticon.com/128/954/954591.png" alt="Icon 6">
                <p>ค้นหา</p>
            </a>
            <a href="#" class="menu-item" routerLink="/excel">
                <img src="https://cdn-icons-png.flaticon.com/128/3979/3979345.png" alt="Icon 7">
                <p>ส่งออกเป็น Excel</p>
            </a>
            <a href="#" class="menu-item" routerLink="/categories">
                <img src="https://cdn-icons-png.flaticon.com/128/6724/6724239.png" alt="Icon 8" >
                <p>หมวดหมู่</p>
            </a>
            <a href="#" class="menu-item">
                <img src="https://cdn-icons-png.flaticon.com/128/3357/3357490.png" alt="Icon 9">
                <p>เกี่ยวกับ</p>
            </a>
            <a href="#" class="menu-item">
                <img src="https://cdn-icons-png.flaticon.com/128/3953/3953226.png" alt="Icon 10">
                <p>การตั้งค่า</p>
            </a>
        </div>
    </div>
  
  </body>