<div class="outer-wrapper">
    <div class="wrapper">
      <div class="header">
        <h2>ส่งออกข้อมูลรายรับและรายจ่าย</h2>
      </div>
  
      <div class="filters">
        <ul class="filter-list">
          <li>
            <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png" alt="รายรับ">
            <span>ส่งออกข้อมูลรายรับ</span>
            <i class="arrow-icon fas fa-arrow-right"></i>
          </li>
          <li>
            <img src="https://cdn-icons-png.flaticon.com/128/4293/4293612.png" alt="รายจ่าย">
            <span>ส่งออกข้อมูลรายจ่าย</span>
            <i class="arrow-icon fas fa-arrow-right"></i>
          </li>
        </ul>
      </div>
  
      <div class="custom-date-filter">
        <h3>เลือกช่วงวันที่</h3>
  
        <div class="date-picker">
          <label for="startDate">วันที่เริ่มต้น:</label>
          <input type="date" id="startDate" [(ngModel)]="startDate">
        </div>
  
        <div class="date-picker">
          <label for="endDate">วันที่สิ้นสุด:</label>
          <input type="date" id="endDate" [(ngModel)]="endDate">
        </div>
  
        <button class="export-btn" (click)="exportIncome()">ส่งออกข้อมูลรายรับเป็น Excel</button>
        <button class="export-btn" (click)="exportExpense()">ส่งออกข้อมูลรายจ่ายเป็น Excel</button>
      </div>
    </div>
  </div>
  