/* สไตล์สำหรับ navbar ให้เลื่อนตาม */
.sticky-navbar {
    position: sticky;
    top: 0; /* ติดอยู่ที่ด้านบนของหน้า */
    z-index: 1000; /* ให้ navbar อยู่ด้านหน้าของเนื้อหา */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงาเพื่อให้ navbar ดูเด่นขึ้น */
  }
  