
<div class="wrapper fadeInDown" style="margin-top: 100px;">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> เข้าสู่ระบบ </h2>
    <h2 class="inactive underlineHover">
      <a routerLink="/admin/register" style="text-decoration: none; color: inherit;">ลงทะเบียน</a>
    </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://scontent.futp2-1.fna.fbcdn.net/v/t39.30808-6/460849097_3837754569800321_5408312247495038661_n.jpg?stp=dst-jpg_s600x600&_nc_cat=107&ccb=1-7&_nc_sid=127cfc&_nc_ohc=nferYQBayUsQ7kNvgEKSzkZ&_nc_ht=scontent.futp2-1.fna&_nc_gid=Au-5s6isawe1MATZlGzsnTP&oh=00_AYBgO_3T2asmy94JzbYkVXF2uzfh5aX_9PvAJAQSFCXxzA&oe=6706DDA5" id="icon" alt="User Icon" /> <!-- ปรับ path ของ icon -->
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="login()">
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="ชื่อผู้ใช้" [(ngModel)]="username" required>
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="รหัสผ่าน" [(ngModel)]="password" required>
        <input type="submit" class="fadeIn fourth" value="เข้าสู่ระบบ">
      </form>
      
    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover" href="#">ลืมรหัสผ่าน?</a>
    </div>
  </div>
</div>
